html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Cardo", serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #fff;
  color: #767676;
}

body::-webkit-scrollbar {
  width: 0px;
}

.container {
  max-width: 968px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0px 40px;
  position: relative;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.4;
  font-family: "Oswald", sans-serif;
  color: #000;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.wrapper {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}

/* LEFT SIDEBAR */
.wrapper .leftpart {
  width: 10%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 12;
  padding: 0px 100px;
  background-color: #f8f3f5;
}

.wrapper .leftpart .menu ul {
  margin: 0px;
  list-style-type: none;
}

.wrapper .leftpart .menu ul li a {
  text-decoration: none;
  color: #767676;
  display: inline-block;
  font-weight: 500;
}

.wrapper .leftpart .menu ul li a:hover {
  color: #000;
  letter-spacing: 2px;
}

.wrapper .leftpart .menu ul li.active a {
  color: #000;
  letter-spacing: 2px;
}

/* RIGHT SIDEBAR */
.wrapper .rightpart {
  width: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  background-color: #f8f8f8;
  padding-left: 450px;
}

.home {
  width: 100%;
  min-height: 100vh;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home .home_content {
  display: flex;
  align-items: center;
}

/*input {
  position: absolute;
  transform: scale(0);
}

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: ffffff;
  padding: 0.5rem;
}

.button-text {
  font-size: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: #76b0fd;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s;
}

.uil {
  transition: all 0.35s;
}

input:hover ~ .button {
  color: #76b0fd;
}

input:hover ~ .button .button-text {
  visibility: visible;
  opacity: 1;
}

input:hover ~ .button .uil {
  transform: translateX(-9px);
}
*/
